<div class="container">
  <h1>Characters</h1>
  <app-search-input
    (search)="search($event)"
    [canSearch]="!(loading$ | async)"
    [initialSearch]="initialSearch"
  ></app-search-input>
  <div class="chars-container">
    <app-char *ngFor="let char of chars | async" [char]="char"></app-char>
  </div>
  <app-no-chars
    *ngIf="!(loading$ | async) && (chars | async)?.length === 0"
  ></app-no-chars>
  <app-button
    *ngIf="canLoadMore | async"
    (click)="loadMore()"
    [disabled]="(loading$ | async)!"
  >
    Show more
  </app-button>
</div>
