.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  .chars-container {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr); // todo: media-query
    grid-auto-rows: max-content;
    gap: 20px;
  }
}
