<ul class="tabs">
  <li class="tabs-item" *ngFor="let tab of tabs" [class.active]="tab.active" (click)="selectTab(tab)">
    {{ tab.titleName }}
  </li>
</ul>
<div class="tabs-content">
  <ng-content></ng-content>
</div>
