.tabs {
  margin: 0;
  list-style: none;
  display: flex;
  &-item {
    border: 3px solid black; // todo: to default styles
    background-color: #ccc;
    padding: 8px 5px;
    position: relative;
    &.active {
      background-color: white;
      border-bottom: unset;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &-content {
    margin-top: -3px;
    padding: 16px;
    border: 3px solid black;
  }
}
