.char-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;
  border: 3px solid black;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 0 black;
  }
  &-icon {
    min-height: 48px;
    margin-bottom: 8px;
  }
  &-name {
    font-weight: bold;
  }
}
