button {
  padding: 4px 5px;
  background: white;
  box-shadow: 2px 2px 0 black;
  border: 3px solid black;
  font-weight: bold;
  font-family: "Press Start 2P";
  font-size: 10px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background: black;
    color: white;
  }
  &:disabled {
    background: #ccc;
    color: #555;
    cursor: not-allowed;
  }
}
