.details {
  &-container {
    margin: 20px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 2em;
    font-weight: bold;

    &-value {
      font-size: 18px;
    }
    &-btn {
      background-color: white;
      font-weight: bold;
    }
  }
  &-params {
    list-style: none;
    li {
      margin-bottom: 15px;
      display: flex;
      .character-label {
        width: 20%;
      }
    }
  }

  &-character-films {
    width: 100%;
    border: 2px solid black;
    border-spacing: 0;
    thead {
      text-align: left;
    }
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px 4px;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}
