<div class="details-container" *ngIf="char">
  <div class="details-header">
    <div clas="details-header-value">{{ char.name }} Details</div>
    <app-button (click)="goToChars()"> &#x2B05;&nbsp;Back </app-button>
  </div>
  <app-tabs>
    <app-tab titleName="General">
      <ul class="details-params">
        <li>
          <div class="character-label">Name:</div>
          <div class="caracter-value">{{ char.name }}</div>
        </li>
        <li>
          <div class="character-label">Mass:</div>
          <div class="caracter-value">{{ char.mass }}</div>
        </li>
        <li>
          <div class="character-label">Hair color:</div>
          <div class="caracter-value">{{ char.hair_color }}</div>
        </li>
        <li>
          <div class="character-label">Skin color:</div>
          <div class="caracter-value">{{ char.skin_color }}</div>
        </li>
        <li>
          <div class="character-label">Eye color:</div>
          <div class="caracter-value">{{ char.eye_color }}</div>
        </li>
        <li>
          <div class="character-label">Birthdate:</div>
          <div class="caracter-value">{{ char.birth_year }}</div>
        </li>
        <li>
          <div class="character-label">Gender:</div>
          <div class="caracter-value">{{ char.gender }}</div>
        </li>
      </ul>
    </app-tab>
    <app-tab titleName="Films">
      <table class="details-character-films">
        <thead>
          <th>Title</th>
          <th>Episode</th>
          <th>Director</th>
          <th>Release date</th>
        </thead>
        <tbody>
          <tr *ngFor="let film of films">
            <td>{{ film.title }}</td>
            <td>{{ film.episode_id }}</td>
            <td>{{ film.director }}</td>
            <td>{{ film.release_date | date }}</td>
          </tr>
        </tbody>
      </table>
    </app-tab>
  </app-tabs>
</div>
