<div class="search-input-wrapper">
  <input class="search-input" type="text" #searchInput />
  <app-button (click)="onSearch(searchInput.value)" [disabled]="!canSearch">
    Search
  </app-button>
</div>
