.search-input {
  padding-left: 20px;
  margin-right: 20px;
  width: 100%;
  border-radius: 15px;
  border: 3px solid black;
  box-shadow: 2px 2px 0 black;
  font-family: "Press Start 2P";
  font-weight: bold;
  &:focus {
    outline: 1px solid black;
  }
  &-wrapper {
    display: flex;
    position: relative;
    &::before {
      content: "⌕";
      position: absolute;
      top: -3px;
      left: 7px;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
